@font-face {
  font-family: "semibold";
  src: url("../assets/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: "prit";
  src: url("../assets/ProximaNova-RegularIt.ttf");
}

@font-face {
  font-family: "pr";
  src: url("../assets/ProximaNova-Regular.ttf");
}

.container_Johanna {
    /* padding: 20px; */
    width: 6500px;
    height: 100vh;
    background-color: #fff;
    overflow-y: hidden;
  }

  @media (max-width: 500px) {
    .container_Johanna {
      width: 400px;
      height: 1500px;
      /* overflow-y: scroll; */
    }    
  }

  .container_Nazira {
    /* padding: 20px; */
    width: 8000px;
    height: 100vh;
    background-color: #fff;
    overflow-y: hidden;
  }

  @media (max-width: 500px) {
    .container_Nazira {
      width: 400px;
      height: 500px;
      /* overflow-y: scroll; */
    }    
  }

  .container {
    /* padding: 20px; */
    width: 5000px;
    height: 100vh;
    background-color: #fff;
    overflow-y: hidden;
  }

  @media (max-width: 500px) {
    .container {
      width: 400px;
      height: 500px;
      /* overflow-y: scroll; */
    }    
  }
  
  .about {
    /* display: flex;
    justify-content: flex-end; */
    font-family: "prit";
    font-size: xx-large;
    position: fixed;
    right: 20px;
    top: 20px;
    /* background-color: #fff; */
    cursor: help ;
  }

  .about1 {
    display: none;
  }

  @media (max-width: 500px) {
    .about {
      display: none;
    }    
  }

  @media (max-width: 500px) {
    .about1 {
      display: flex;
      font-family: "prit";
      font-size: xx-large;
      position: fixed;
      left: 20px;
      top: 10px;
      cursor: help ;
    }    
  }

  .divider {
    width: 100%;
    top: 60px;
    position: fixed;
    height: 2px;
    background: black;
  }

  @media (max-width: 500px) {
    .divider {
      top: 115px;
    }
  }

  .divider2 {
    height: 100%;
    position: fixed;
    height: 2px;
    background: black;
    margin-left: 350px;
  }

  .people {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    line-height: 45px;
    margin-top: 2px;
    padding-right: 20px;
    position: fixed;
    top: 60px;
    width: 380px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    outline:solid 2px black;
    font-size: 35px;
    font-family: "semibold";
    text-align: end;

  }


  .aboutProject {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 60px;
    width: 380px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    outline:solid 2px black;
    font-size: 20px;
    font-family: "semibold";
  }

  @media (max-width: 500px) {
    .aboutProject{
      top: 115px;
      width: 360px;
      height: 100vh;
      font-size: 25px;
      line-height: 30px;
      margin-right: 100px;
    }
  }

  @media (max-width: 500px) {
    .people{
      top: 115px;
      width: 380px;
      height: 1200px;
      font-size: 25px;
      line-height: 30px;
      margin-right: 100px;
    }
  }

  .main{
    margin: 40px 0 0 400px;
    padding: 20px;
    width: 100vw;
    height: 100vh;
  }

  @media (max-width: 500px) {
    .main{
      display: none;
      width: 400px;
      height: 700px;
    }
  }

  .logoC{
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 500px) {
    .logoC{
      flex-direction: column;
    }
  }

  .logo{
    width: 150vw;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 240px;
  }

  @media (max-width: 500px) {
    .logo{
      margin-top: 35px;
      width: 250vw;
    }
  }

  .pressC{
    position: fixed;
    margin: 20px;
    display: none;
    /* height: 100vh; */
    background-color:black;
  }

  @media (max-width: 500px) {
    .pressC{
      margin-left: -420px;
      top: 95px;
      width: 400px;
      font-size: 20px;
      line-height: 15px;
      height: 100vh;
      /* overflow-y: scroll; */
    }
  }

  .ruP {
    font-family: "prit";
    color:#fff;
    font-size: 2.5vw;
    line-height: 2.5vw;
    margin: 20px;
  }

  @media (max-width: 500px) {
    .ruP{
      font-size: 17px;
      line-height: 17px;
    }
  }

  .engP {
    font-family: "pr";
    color: #fff;
    font-size: 2.5vw;
    line-height: 2.5vw;
    margin: 20px;
  }

  @media (max-width: 500px) {
    .engP{
      font-size: 17px;
      line-height: 17px;
    }
  }

  .ru {
    font-family: "prit";
    margin-top: 20px;
  }

  @media (max-width: 500px) {
    .ru{
      font-size: 17px;
      line-height: 17px;
      margin-right: 20px;
    }
  }

  .eng {
    font-family: "pr";
  }

  @media (max-width: 500px) {
    .eng{
      font-size: 17px;
      line-height: 17px;
      margin-right: 20px;
    }
  }


  .whitespace {
    width: 100%;
    height: 20px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .name {
    display: flex;
    font-family: "semibold";
    justify-content: flex-start;
    position: fixed;
    font-size: xx-large;
    width: 23%;
    top: 20px;
    left:20px;
    cursor: default;
  }

@media (max-width: 500px) {
  #name {
    margin-right: 20px;  
  }
}

  .project {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    font-size: xx-large;
    font-family: "prit";
    width: 23%;
    top: 20px;
    right: 20px;
    text-align: end;
    cursor: default;
  }

.gallery{
  display: flex;
  flex-direction: row; 
}

.work {
  height: 100vh;
  /* width: 100vw; */
}

.back {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin-bottom: -30px;
}

.back-img {
  width: 200px;
}

@media (max-width: 500px) {
  .back-img {
    width: 150px;
  }
}




  


  

