@font-face {
  font-family: "semibold";
  src: url("../assets/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: "prit";
  src: url("../assets/ProximaNova-RegularIt.ttf");
}

.container {
  /* padding: 20px; */
  width: 10000px;
  height: 100vh;
  background-color: #fff;
  overflow-y: hidden;
  }

  @media (max-width: 900px) {
    .container {
      height: auto;
    }    
  }
  
  .about {
    /* display: flex;
    justify-content: flex-end; */
    font-family: "prit";
    font-size: xx-large;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #fff;
  }

  .about1 {
    display: none;
  }

  @media (max-width: 900px) {
    .about {
      display: none;
    }    
  }

  @media (max-width: 900px) {
    .about1 {
      display: flex;
      font-family: "prit";
      font-size: xx-large;
      position: fixed;
      left: 20px;
      top: 10px;
    }    
  }

  .divider {
    width: 100%;
    top: 60px;
    position: fixed;
    height: 2px;
    background: black;
  }

  @media (max-width: 900px) {
    .divider {
      top: 120px;
    }
  }

  .divider2 {
    height: 100%;
    position: fixed;
    height: 2px;
    background: black;
    margin-left: 350px;
  }

  .people {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    margin-top: 2px;
    padding-left: 20px;
    position: fixed;
    top: 60px;
    width: 380px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    outline:solid 2px black;
  }

  @media (max-width: 900px) {
    .people{
      top: 120px;
    }
  }

  .SashaA:hover {
    position: relative;
  }

  .SashaA:hover:after {
    content: url(.imgs/Julianna-Akopyan---time_dzhulianna_akopian.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 123px; /* change this value to one that suits you */
    top: 56px; /* change this value to one that suits you */
  }

  .main{
    margin: 60px 0 0 380px;
    padding: 20px;
    width: 100vw;
    height: 100vh;
  }

  .logo{
    display: flex;
    width: 150%;
  }

  .whitespace {
    width: 100%;
    height: 20px;
  }

  a {
    font-size: 35px;
    font-family: "semibold";
    color: black;
    text-decoration: none;
  }

  .name {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    font-size: xx-large;
    width: 23%;
    top: 20px;
    left:20px;
  }


  .project {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    font-size: xx-large;
    font-family: "semibold";
    width: 23%;
    top: 20px;
    right: 20px;
  }

/* img { 
display: flex;
flex-direction: column;
margin-left: 15%;
margin-right: 15%;
margin-top: 20%;
margin-bottom: 20%;
width: 75%;
} */

.back {
display: flex;
justify-content: flex-start;
position: fixed;
width: 20%;
bottom: 0px;
left: 0px;
margin-bottom: -50px;
}

@media (max-width: 600px) {
  .back {
    margin-bottom: 0px;
    width: 20vw;
  }
}




  


  

